
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: Figtree;
    src: url(../FrontendMentor/blog-preview-card-main/assets/fonts/Figtree-VariableFont_wght.ttf)
  }
.container {
  width: 100vw;
  height: 100vh;
  background: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.container-card {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  width: 375px;
  height: auto;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 10px 10px 2px;
}



.image-main {
    width: 100%;
  border: 1px solid #000;
  border-radius: 15px;
}

.data-publication {
    font-family:Figtree;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;

}

